<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Bill</title>
</head>
<body>
    <h1>Add Bill</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.description.label }} {{ form.description }}<br>
        {{ form.total.label }} {{ form.total }}<br>
        {{ form.paid_by_username.label }} {{ form.paid_by_username }}<br>
        {{ form.participants.label }} {{ form.participants }}<br>
        {{ form.submit }}
    </form>
    <a href="{{ url_for('dashboard') }}">Back to Dashboard</a>
</body>
</html>
