<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1>Hello {{user.username}} you are now logged in.</h1>
    <a href="{{url_for('logout')}}">Press here to logout</a>
    <h2>Your Groups:</h2>
    <ul>
        {% for group in groups %}
            <li>
                {{ group.name }} 
                <a href="{{ url_for('group_detail', group_id=group.id) }}">{{ group.name }}</a>
                <ul>
                    {% for bill in group.bills %}
                        <li>{{ bill.description }} - {{ bill.total }} paid by {{ bill.paid_by_user.username }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('create_group') }}">Create Group</a><br>
    <a href="{{ url_for('join_group') }}">join_group</a>
</body>

</html>