<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h1>Register Page</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}<br>
        {% for error in form.username.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
        {{ form.email }}<br>
        {% for error in form.email.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
        {{ form.password }}
        {{ form.submit }}
    </form>
    <br>
    <a href="{{ url_for('login') }}">Already have an account? Log In</a><br>
    <a href="{{ url_for('index') }}">Home</a>

    <script>
        $(document).ready(function () {
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        alert("{{ message }}");
                    {% endfor %}
                {% endif %}
            {% endwith %}
        });
    </script>
</body>

</html>
